Node-RED Flow.json
[
    {
        "id": "29785370e796fdda",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cf122400511f1c65",
        "type": "mqtt-broker",
        "name": "",
        "broker": "Your_public_id_should_be_pasted_here",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9e86e0a3107e4b75",
        "type": "ui_tab",
        "name": "IoT Monitoring",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "db4a4d1de637d22e",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "IoT Monitoring",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 12,
                "cy": 12,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b52ee521654882da",
        "type": "ui_group",
        "name": "Environmental Data",
        "tab": "9e86e0a3107e4b75",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3fc776fe4cfd03b1",
        "type": "mqtt in",
        "z": "29785370e796fdda",
        "name": "",
        "topic": "sensor/multi",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cf122400511f1c65",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 260,
        "wires": [
            [
                "fbe65f86586712a1"
            ]
        ]
    },
    {
        "id": "fbe65f86586712a1",
        "type": "json",
        "z": "29785370e796fdda",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 250,
        "y": 260,
        "wires": [
            [
                "a7e4f04448f2dffb",
                "1733a1e375117f1b",
                "1d09b78378eb1aa2",
                "82a1df797a924aca",
                "fecb66a2411768e6",
                "d509fb60f1f1fe6d"
            ]
        ]
    },
    {
        "id": "a7e4f04448f2dffb",
        "type": "ui_gauge",
        "z": "29785370e796fdda",
        "name": "",
        "group": "b52ee521654882da",
        "order": 1,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{msg.payload.temperature}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 470,
        "y": 120,
        "wires": []
    },
    {
        "id": "1733a1e375117f1b",
        "type": "ui_gauge",
        "z": "29785370e796fdda",
        "name": "",
        "group": "b52ee521654882da",
        "order": 3,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{msg.payload.humidity}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 460,
        "y": 180,
        "wires": []
    },
    {
        "id": "1d09b78378eb1aa2",
        "type": "ui_text",
        "z": "29785370e796fdda",
        "group": "b52ee521654882da",
        "order": 5,
        "width": "12",
        "height": "1",
        "name": "",
        "label": "Pressure",
        "format": "{{msg.payload.pressure}} hPa",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 460,
        "y": 240,
        "wires": []
    },
    {
        "id": "82a1df797a924aca",
        "type": "function",
        "z": "29785370e796fdda",
        "name": "function 1",
        "func": "msg.payload = Number(msg.payload.temperature);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 320,
        "wires": [
            [
                "50c1fe9fe4fd331c"
            ]
        ]
    },
    {
        "id": "50c1fe9fe4fd331c",
        "type": "ui_chart",
        "z": "29785370e796fdda",
        "name": "",
        "group": "b52ee521654882da",
        "order": 2,
        "width": "6",
        "height": "4",
        "label": "Temperature chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 670,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "fecb66a2411768e6",
        "type": "function",
        "z": "29785370e796fdda",
        "name": "function 2",
        "func": "msg.payload = Number(msg.payload.humidity);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 380,
        "wires": [
            [
                "7be78a0c18eb9c6f"
            ]
        ]
    },
    {
        "id": "7be78a0c18eb9c6f",
        "type": "ui_chart",
        "z": "29785370e796fdda",
        "name": "",
        "group": "b52ee521654882da",
        "order": 4,
        "width": "6",
        "height": "4",
        "label": "Humidity chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 680,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "d509fb60f1f1fe6d",
        "type": "debug",
        "z": "29785370e796fdda",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 440,
        "wires": []
    },
    {
        "id": "17e51384a3691877",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]